---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../config';
---

<header class="container mx-auto">
	<h2 class="text-3xl font-semibold">
		{SITE_TITLE}
	</h2>
	<nav class="mt-5 flex space-x-10">
		<HeaderLink href="/novel-readers/">Home</HeaderLink>
		<HeaderLink href="https://dichngay.com/" target="_blank">Dichngay.com</HeaderLink>
	</nav>
</header>